<div class="col-md-6 offset-md-3">
<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName" #firstName="ngModel">
      <div *ngIf="f.submitted && firstName.errors" >
        <div *ngIf="firstName.errors.required" class="alert alert-danger">firstName is required</div>
    </div>
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName" #lastName="ngModel">
      <div *ngIf="f.submitted && lastName.errors" >
        <div *ngIf="lastName.errors.required" class="alert alert-danger">lastName is required</div>
    </div>
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="employee.email" name="email">
    </div>
    <div class="form-group">
        <label for="name">Salary </label>
        <input type="text" class="form-control" id="salary" required [(ngModel)]="employee.salary" name="salary" #salary="ngModel" pattern="[0-9]{2,10}">
        <div *ngIf="f.submitted && salary.errors" >
            <div *ngIf="salary.errors.required" class="alert alert-danger">salary is required</div>
            <div *ngIf="salary.errors.pattern" class="alert alert-danger">salary should be greater than zero</div>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Phone </label>
        <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="employee.phoneNumber" name="phoneNumber">
      </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
</div>