<div class="col-md-6 offset-md-3">
    <h3> Update Employee </h3>
    <form (ngSubmit) = "f.form.valid && onSubmit()" #f = "ngForm">
    
        <div class="form-group " >
            <label> First Name</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "employee.firstName" name = "firstName" required  #firstName="ngModel">
                <div *ngIf="f.submitted && firstName.errors" >
                    <div *ngIf="firstName.errors.required" class="alert alert-danger">firstName is required</div>
                </div>

            
        </div>
    
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "employee.lastName" name = "lastName" required #lastName="ngModel">

                <div *ngIf="f.submitted && lastName.errors" >
                    <div *ngIf="lastName.errors.required" class="alert alert-danger">lastName is required</div>
                </div>
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "email"
                [(ngModel)] = "employee.email" name = "email">
        </div>
        <div class="form-group">
            <label> Salary</label>
            <input type="text" class ="form-control" id = "salary"
                [(ngModel)] = "employee.salary" name = "salary">
        </div>
    
        <div class="form-group">
            <label for="name">Phone </label>
            <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="employee.phoneNumber" name="phoneNumber">
          </div>

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 